
header,section,footer{
    width:1010px;
	margin:10px auto;
	 
}
header{
	padding:6px;
   border-bottom: 1px solid #ddd;
}
header div>span{
   padding-left:10px;
   font-size:26px;
   border-left: 1px solid #ddd;
   color: #165a9d;
}


  .msg{
	 width:1000px;

    margin:0 auto;
	padding:20px;
  }
  
 .panel {
   	 min-height: 100px;
   	 padding: 1.2em .6em;
	 float: right;

    }
    .form-group {
      margin-bottom:16px;
	  position: relative;
	  
    }
    .form-group > label {
     display: inline-block;
      width: 100px;
     text-align: right;
    }
    .form-group > input {
      width: 250px;
      height:30px;
      padding: 4px;
      border-radius: 2px;
      border: 1px solid #aaa;
    }
  
 .form-group .msg-default {
    color: rgb(170, 170, 170);
    font-size:6px;
	margin-top: 10px;
	 	margin-left: 30px;
    }
   .form-group .msg-error {
		 color: #d00;
		 font-size:6px;
		 margin-top: 10px;
		 margin-left: 40px;
    }
 .form-group  .msg-success {
		color: #0d0;
		font-size:6px;
		margin-top: 10px;
	 	margin-left: 40px;
    }
    .hidden {
      display: none;
    }
	.leftImg{
		margin-left: 20px;
		background: url(../images/shijiyuan.jpg) no-repeat;
		background-size: cover;
		width: 600px;
		height: 350px;
		 border-radius: 3px;
	}
 button {
  background: none;
  border: 1px solid;
  font: inherit;
  font-size:20px;
  line-height: 1;
  padding: 12px 2px;
  width: 200px;
  
}
button {
  color: var(--color);
  transition: 0.28s;
}
button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}
.offset {
  --color: #0f77bc;
  --hover: #1973bc;
}

 .offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover, .offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}

 .backlogin{
 	float:right;
 	margin-right:30px;
 
 }
 .backlogin > a:hover{
 	color:blue;
 }